<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LMPortNumKey</key>
		<string>22</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>SSH服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>25</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>邮件（发送电子邮件）；iCloud邮件（发送电子邮件）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>80</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>HTTP服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>88</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>Kerberos（包括屏幕共享鉴定）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>110</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>邮件（接收电子邮件）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>123</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>“日期与时间”偏好设置、网络时间服务器同步、AppleTV网络时间服务器同步</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>138</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>Windows数据报服务、Windows网上邻居</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>139</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>MicrosoftWindows文件和打印服务，如</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>143</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>邮件（接收电子邮件）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>389</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>查找地址的应用，如“邮件”和“地址簿”</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>443</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>TLS服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>465</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>邮件（发送邮件）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>500</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>Wi-Fi通话</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>515</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>通过网络打印机打印、macOS中的打印机共享</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>548</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>AppleShare、个人文件共享、Apple文件服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>548</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>AppleShare、个人文件共享、Apple文件服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>587</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>邮件（发送邮件）、iCloud邮件（SMTP鉴定）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>631</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>macOS打印机共享、通过多台普通打印机打印</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>993</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>iCloud邮件</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>1701</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>macOS服务器VPN服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>1723</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>macOS服务器VPN服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>2195</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>推送通知</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>2196</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>反馈服务</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>2336</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>个人目录同步</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3031</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>程序链接、远程Apple事件</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3031</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>程序链接、远程Apple事件</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3283</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>“Apple远程桌面2.0”或更高版本（报告功能）、“课堂”应用（命令通道）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3283</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>“Apple远程桌面2.0”或更高版本（报告功能）、“课堂”应用（命令通道）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3284</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>“课堂”应用（文稿共享）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3284</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>“课堂”应用（文稿共享）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3659</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>macOS服务器密码服务器</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3659</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>macOS服务器密码服务器</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3689</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>iTunes音乐共享、隔空播放</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3690</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>Xcode服务器（匿名远程SVN）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>3690</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>Xcode服务器（匿名远程SVN）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>4398</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>GameCenter</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>4500</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>macOS服务器VPN服务、回到我的Mac</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>5009</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>AirPort实用工具、AirPortExpress助理</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>5100</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>macOS摄像头和扫描仪共享</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>5223</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>iCloudDAV服务（联系人，日历，书签）、推送通知、FaceTime通话、iMessage信息，GameCenter、照片流、回到我的Mac</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>5353</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>Bonjour、隔空播放、家庭共享、打印机发现、回到我的Mac</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>5900</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>“Apple远程桌面2.0”或更高版本（观察/控制功能），屏幕共享（MacOSX10.5或更高版本）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>9100</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>通过某些网络打印机打印</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>9418</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>TCP</string>
		<key>LMPortSpecKey</key>
		<string>Xcode服务器（远程git）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LMPortNumKey</key>
		<string>9418</string>
		<key>LMPortOpKey</key>
		<true/>
		<key>LMPortProtocolKey</key>
		<string>UDP</string>
		<key>LMPortSpecKey</key>
		<string>Xcode服务器（远程git）</string>
		<key>LMPortStateKey</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
