<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>label</string>
	<key>ProgramArguments</key>
	<array>
		<string>app_path</string>
		<string>-RunAsAgent</string>
		<string>YES</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Contents/Library/LoginItems</string>
</dict>
</plist>
