<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>McBigFile</key>
	<dict>
		<key>toolId</key>
		<integer>0</integer>
		<key>toolPicName</key>
		<string>bigfile</string>
		<key>className</key>
		<string>McBigFileWndController</string>
		<key>toolName</key>
		<string>大文件清理</string>
		<key>toolDesc</key>
		<string>查找50MB以上的文件</string>
		<key>recommend</key>
		<true/>
		<key>reportId</key>
		<integer>7202</integer>
	</dict>
	<key>McDuplicateFile</key>
	<dict>
		<key>toolId</key>
		<integer>1</integer>
		<key>toolPicName</key>
		<string>duplidatefile</string>
		<key>className</key>
		<string>LMDuplicateWindowController</string>
		<key>toolName</key>
		<string>重复文件清理</string>
		<key>toolDesc</key>
		<string>查找内容一样的文件</string>
		<key>recommend</key>
		<true/>
		<key>reportId</key>
		<integer>7203</integer>
	</dict>
	<key>McSamePic</key>
	<dict>
		<key>toolId</key>
		<integer>2</integer>
		<key>toolPicName</key>
		<string>samephoto</string>
		<key>className</key>
		<string>LMPhotoCleanerWndController</string>
		<key>toolName</key>
		<string>相似照片清理</string>
		<key>toolDesc</key>
		<string>快速查找，准确筛选</string>
		<key>recommend</key>
		<true/>
		<key>reportId</key>
		<integer>7204</integer>
	</dict>
	<key>McAppUninstaller</key>
	<dict>
		<key>toolId</key>
		<integer>3</integer>
		<key>toolPicName</key>
		<string>uninstallapp</string>
		<key>className</key>
		<string>McUninstallWindowController</string>
		<key>toolName</key>
		<string>应用卸载</string>
		<key>toolDesc</key>
		<string>强力卸载已安装应用</string>
		<key>recommend</key>
		<false/>
		<key>reportId</key>
		<integer>7205</integer>
	</dict>
	<key>McPrivacyBroswer</key>
	<dict>
		<key>toolId</key>
		<integer>4</integer>
		<key>toolPicName</key>
		<string>privacyclean</string>
		<key>className</key>
		<string>PrivacyWindowController</string>
		<key>toolName</key>
		<string>隐私清理</string>
		<key>toolDesc</key>
		<string>清理浏览器内敏感信息</string>
		<key>recommend</key>
		<false/>
		<key>reportId</key>
		<integer>7206</integer>
	</dict>
	<key>McLoginItem</key>
	<dict>
		<key>toolId</key>
		<integer>5</integer>
		<key>toolPicName</key>
		<string>loginitem</string>
		<key>className</key>
		<string>LMLoginItemManageWindowController</string>
		<key>toolName</key>
		<string>开机启动项管理</string>
		<key>toolDesc</key>
		<string>快速禁用开机自启应用</string>
		<key>recommend</key>
		<false/>
		<key>reportId</key>
		<integer>7207</integer>
	</dict>
	<key>McPrivacyFile</key>
	<dict>
		<key>toolId</key>
		<integer>7</integer>
		<key>toolPicName</key>
		<string>icon_tool_lemon_lab</string>
		<key>className</key>
		<string>lemon_lab</string>
		<key>toolName</key>
		<string>柠檬精选</string>
		<key>toolDesc</key>
		<string>发现更多优质Mac应用</string>
		<key>recommend</key>
		<false/>
		<key>reportId</key>
		<integer>7207</integer>
	</dict>
	<key>McLemonLab</key>
	<dict>
		<key>toolId</key>
		<integer>6</integer>
		<key>toolPicName</key>
		<string>space_icon</string>
		<key>className</key>
		<string>McSpaceAnalyseWndController</string>
		<key>toolName</key>
		<string>磁盘空间分析</string>
		<key>toolDesc</key>
		<string>深度分析存储情况</string>
		<key>recommend</key>
		<false/>
		<key>reportId</key>
		<integer>7207</integer>
	</dict>
</dict>
</plist>
