<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>McBigFile</key>
	<dict>
		<key>toolId</key>
		<integer>0</integer>
		<key>toolPicName</key>
		<string>bigfile</string>
		<key>className</key>
		<string>McBigFileWndController</string>
		<key>toolName</key>
		<string>大文件清理</string>
		<key>toolDesc</key>
		<string>查找50MB以上的文件</string>
		<key>recommend</key>
		<true/>
		<key>reportId</key>
		<integer>7202</integer>
	</dict>
	<key>McDuplicateFile</key>
	<dict>
		<key>toolId</key>
		<integer>1</integer>
		<key>toolPicName</key>
		<string>duplidatefile</string>
		<key>className</key>
		<string>LMDuplicateWindowController</string>
		<key>toolName</key>
		<string>重复文件清理</string>
		<key>toolDesc</key>
		<string>查找内容一样的文件</string>
		<key>recommend</key>
		<true/>
		<key>reportId</key>
		<integer>7203</integer>
	</dict>
	<key>McSamePic</key>
	<dict>
		<key>toolId</key>
		<integer>2</integer>
		<key>toolPicName</key>
		<string>samephoto</string>
		<key>className</key>
		<string>LMPhotoCleanerWndController</string>
		<key>toolName</key>
		<string>相似照片清理</string>
		<key>toolDesc</key>
		<string>快速查找，准确筛选</string>
		<key>recommend</key>
		<true/>
		<key>reportId</key>
		<integer>7204</integer>
	</dict>
	<key>McPrivacyFile</key>
	<dict>
		<key>toolId</key>
		<integer>5</integer>
		<key>toolPicName</key>
		<string>more_function</string>
		<key>className</key>
		<string>more_function</string>
		<key>toolName</key>
		<string>吐个槽</string>
		<key>toolDesc</key>
		<string>来社区和我们聊聊</string>
		<key>recommend</key>
		<false/>
		<key>reportId</key>
		<integer>7207</integer>
	</dict>
</dict>
</plist>
